.container {

}
.Bgi {
    width: 80vw;
    height: 30vh;
    background-image: url("../../Assets/Img/Zakat.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.block {
    display: flex;
}
.wrapper {
    display: flex;
    margin-top: 10px;
}
.btn {
    margin-left: 10px;
    background-color: dodgerblue;
    border-radius: 5px;
}
.dialogText {
    margin-left: 10px;
}
.dialogs {
    padding: 10px;
}
.messages {
    padding: 10px;
}